body {
  background-color: grey;
}
* {
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form {
  width: 500px;
  min-height: 100px;
  margin: 150px auto;
  border: 1px solid;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.list {
  margin-top: 20px;
}

.item {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  padding: 2px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fix {
  display: flex;
  align-items: center;
  gap: 3px;
}

.input__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input {
  width: 75%;
  height: 30px;
  padding: 2px 12px;
  border-radius: 15px;
}

button {
  width: 30%;
  border-radius: 20px;
}
button:nth-child(1) {
  background-color: green;
}

button:nth-child(2) {
  background-color: red;
}

.message {
  color: red;
}
